<html lang="ko" 
    xmlns:th="http://www.thymeleaf.org" 
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/default}">
        
        <section layout:fragment="contents" class="contents d-flex justify-content-center">
        	<div class="contents-box my-5" th:data-id="${post.id}" id="memoContents">
        		<h1 class="text-center">메모 상세</h1>
        		<div>
        			<input type="text" class="form-control" placeholder="제목을 입력하세요" id="titleInput" th:value="${post.title}" value="메모 제목입니다.">
        			<textarea class="mt-3 form-control" rows="10" placeholder="내용을 입력하세요" id="contentsInput" th:text="${post.contents}">메모 내용입니다</textarea>
        			<img width=150px th:src="${post.imagePath}">
        			<div class="d-flex justify-content-between mt-3">
        				<button type="button" class="btn btn-danger" id="deleteBtn">삭제</button>
        				<div>
        					<a href="/post/list-view" class="btn btn-secondary">목록으로</a>
        					<button type="button" class="btn btn-secondary" id="modifyBtn">수정</button>
        				</div>
        			</div>
        		</div>
        	</div>
        </section>
        
        <script layout:fragment="script">
        	$(function() {
        		
        		$("#deleteBtn").on("click", function() {
        			let id = $("#memoContents").data("id");
        			
        			$.ajax({
        				type:"delete"
        				, url:"/post/delete"
        				, data:{"id":id}
        				,success:function(response) {
        					if(response.result == "success") {
        						location.href = "/post/list-view";
        					}else {
        						alert("삭제실패");
        					}
        				}
        				, error:function() {
        					alert("삭제 에러!");
        				}
        			});
        		});
        		
        		$("#modifyBtn").on("click", function() {
        			let id = $("#memoContents").data("id");
        			let title = $("#titleInput").val();
        			let contents = $("#contentsInput").val();
        			
        			if(title == "") {
        				alert("수정제목을 입력해주세요");
        				return;
        			}
        			
        			if(contents == "") {
        				alert("수정내용을 입력해주세요");
        				return;
        			}
        			
        			$.ajax({
        				type:"put"
        				,url:"/post/update"
        				,data:{"id":id, "title":title, "contents":contents}
        				,success:function(response) {
        					if(response.result == "success") {
        						location.reload();
        					} else {
        						alert("수정 실패");
        					}
        				}
        				,error:function() {
        					alert("수정 에러!");
        				}
        			});
        			
        		});
        	});	
        
        
        
        </script>
       
        
</html>