@charset "UTF-8";

#wrap{
	width:1200px;
	height:800px;
	margin:0 auto;
}

header {
	height:100px;
	background-color:#cccccc;
}

.contents {
	height:700px;
}

.contents > .user-box {
	width:400px;
	background-color:#cccccc;
}

.contents > .contents-box {
	width:800px;
}

footer{
	height:70px;
	background-color:#cccccc;
}